---
import { Image } from "astro:assets";
import heroImage from "../assets/hero.png";
import MouseScroll from "./UI/MouseScroll.astro";

const widths = [450, 800, 1200];
const sizes = "100vw";
---

<section id="hero" class="relative flex h-[95vh] items-center justify-center text-center">
  <div class="absolute inset-0 opacity-40">
    <Image 
      src={heroImage} 
      alt="Hero Image" 
      class="h-full w-full object-cover" 
      loading="eager" 
      widths={widths} 
      sizes={sizes} />
  </div>
  
  <div class="relative z-10 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-20 pb-12">
    <h1 class="mb-8">
      <span class="block text-4xl sm:text-5xl md:text-5xl lg:text-6xl font-extrabold tracking-tight leading-none">
        <span class="bg-gradient-to-r from-[var(--color-text)] via-[var(--color-glow)] to-[var(--color-accent-teal)] bg-clip-text text-transparent">
          Welcome to The Paradox Box
        </span>
      </span>
      <span class="block mt-2 text-3xl sm:text-4xl md:text-6xl lg:text-4xl font-bold text-[var(--color-text)]">
        The games are waiting for you
      </span>
    </h1>
    </div>
  </div>
  <MouseScroll />
</section>
