---
import { getCollection } from "astro:content";
import ContentSection from './ContentSection.astro';
import RoomCard from './RoomCard.astro';

const rooms = await getCollection("rooms");

---
<ContentSection id="rooms" title="Rooms">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {rooms.map((room) => (
      <RoomCard room={room} />
    ))}
  </div>
</ContentSection>
