---
import Header from "@/components/Header.astro";
import "../styles/global.css";
import Hero from "@/components/Hero.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body
    class="bg-default text-default selection:bg-secondary h-full overflow-x-hidden text-base selection:text-white"
  >
    <Header />
    <Hero />
    <div class="space-y-24 px-8 py-32">
      <slot />
    </div>
  </body>
</html>
